<div class="mt-4">
    <div class="row">

        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.pngarts.com/files/1/Event-PNG-Download-Image.png"
                    alt="Card image" style="width:100%">
                <div class="card-body">
                    <h5 class="card-title">PLAN</h5>
                    <p class="card-text">Insert, update, select PLAN</p>
                    <p class="text-end">
                        <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> SELECT</a>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4"></div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://w7.pngwing.com/pngs/687/946/png-transparent-estudante-student-computer-icons-student-people-public-relations-university-thumbnail.png"
                alt="Card image" style="width:100%">
            <div class="card-body">
                <h5 class="card-title">STUDENT</h5>
                <p class="card-text">Insert, update, select STUDENT</p>
                <p>
                    <a href="/student/select" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>
                        SELECT</a>

                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


    </div>
</div>
</div>